@tailwind base;
@tailwind components;
@tailwind utilities;

/* Design System */
.heading {
  @apply font-brocha font-bold tracking-wider;
}
.subheading {
  @apply font-neuemachina font-medium tracking-wider;
}

h1,
h2,
h3 {
  @apply heading;
}

h4,
h5,
h6 {
  @apply subheading;
}

p {
  @apply font-poppins font-light tracking-wider;
}

h1 {
  @apply text-7xl;
}

h2 {
  @apply text-6xl;
}

h3 {
  @apply text-5xl;
}

h4 {
  @apply text-4xl;
}

h5 {
  @apply text-3xl;
}

h6 {
  @apply text-2xl;
}

button {
  @apply flex items-center justify-center gap-x-5 rounded-lg p-4 font-poppins font-medium tracking-wider text-white;
}

.decorated-underline {
  @apply max-w-max;
}

.decorated-underline > div {
  @apply mt-2 h-1 w-5/12 bg-secondary;
}

.label-text {
  @apply font-poppins font-medium tracking-wide placeholder:font-poppins placeholder:font-medium placeholder:tracking-wide;
}

.helper-text {
  @apply ml-1 text-xs text-[#636363];
}

.nav-links {
  @apply border-b-4 border-transparent p-4 font-brocha text-lg font-bold tracking-wide transition-colors duration-500 hover:border-secondary;
}

.active-link {
  @apply rounded-tl-2xl rounded-bl-2xl  bg-white drop-shadow-lg;
}

.active-link > svg {
  @apply fill-primary;
}

.active-link > p {
  @apply text-primary;
}

.footer-links {
  @apply border-b-4 border-transparent font-brocha text-lg font-bold tracking-wide;
}

.avatar {
  @apply w-14 rounded-sm bg-gray-100 text-center font-poppins text-sm leading-[40px];
}

.feature-public-card {
  @apply h-full max-h-[490px] min-h-[490px] flex-[.35] space-y-3 rounded-md bg-white p-4;
}

table {
  @apply min-w-full divide-y-2 divide-[#9D9D9D] border-2 border-gray-300 font-poppins text-sm;
}

thead {
  @apply border-2 border-gray-300 bg-gray-200 text-left;
}

tbody {
  @apply divide-y divide-gray-200;
}

td {
  @apply whitespace-nowrap px-2 py-4 text-gray-900;
}

th {
  @apply heading p-2;
}

tr {
  @apply max-h-max hover:bg-gray-100;
}

/* badges */
.badge-lime {
  @apply w-full max-w-[100px] rounded-md  bg-lime-400 px-2 py-1 text-center font-poppins text-xs font-medium text-lime-800;
}
.badge-yellow {
  @apply w-full max-w-[100px] rounded-md  bg-yellow-400 px-2 py-1 text-center font-poppins text-xs font-medium text-yellow-800;
}
.badge-red {
  @apply w-full max-w-[100px] rounded-md  bg-rose-400 px-2 py-1 text-center font-poppins text-xs font-medium text-rose-800;
}
.badge-orange {
  @apply w-full max-w-[100px] rounded-md  bg-orange-400 px-2 py-1 text-center font-poppins text-xs font-medium text-orange-800;
}

/* Upload Care */
/* UPLOADCARE BTN */
.uploadcare--widget__button {
  @apply border-black bg-primary text-white;
}
.uploadcare--widget__button:hover,
.uploadcare--widget__button:focus,
.uploadcare--widget__button:active {
  @apply border-black bg-primary text-white;
}
.uploadcare--button_primary {
  @apply cursor-pointer
	border-black
	bg-primary
	text-base;
}
.uploadcare--dialog__close {
  @apply cursor-pointer;
}

/* Grid Loader Theme */
.grid-loader > span {
  @apply !bg-secondary;
}
#bg_order {
  background-image: url("../../public/OrderBg.png");
  background-repeat: no-repeat;
  background-size: 600px 370px;
  height: 100%;
}

@media only screen and (min-width: 600px) {
  #bg_order {
    background-size: 1980px 400px;
  }
}
